.toggle-link {
    color: #007bff; 
    cursor: pointer;
    text-decoration: underline;
}

.toggle-link:hover {
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
}

.btn-small-green {
    background-color: #28a745;
    border-color: #28a745; 
    font-size: 0.875rem; 
    padding: 0.375rem 0.75rem; 
}

.btn-small-green:hover {
    background-color: #218838; 
    border-color: #1e7e34;}